<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet/less" href="../styles/style.less"/>
		<script src="../scripts/less.js-2.7.1/dist/less.min.js" type="text/javascript"></script>
	</head>
	<body>
		<nav>
			<div class="section">
				<a><i class="material-icons">panorama_fish_eye</i></a>
				<a><i class="material-icons">invert_colors</i></a>
			</div>
			<div class="section">
				<a><i class="material-icons">search</i></a>
				<a><i class="material-icons">grade</i></a>
			</div>
			<div class="section">
				<a><i class="material-icons">dashboard</i></a>
				<a><i class="material-icons">bubble_chart</i></a>
				<a><i class="material-icons">donut_large</i></a>
				<a><i class="material-icons">format_list_numbered</i></a>
				<a><i class="material-icons">assessment</i></a>
				<a><i class="material-icons">settings</i></a>
			</div>
			<div class="section">
				<a><img src="../resources/images/logo.png" /></a>
			</div>
		</nav>
		<div id="page_content">

		</div>
	</body>
</html>